.nav {
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;

    .title {
        margin: 10px;
        color: #2B3674;
        border-bottom:  #A3AED0 dashed 1px;
        border-width: 100% !important;
    }

    a {
        margin: 10px;
        margin-right: 0;
        padding: 0 !important;
        color: #A3AED0;
        margin-left: 0px !important;
        padding: 10px !important;
        padding-left: 40px !important;

    }

    .active {
        color: #2B3674;
        border-right: solid #4318FF;
        background: rgba(163, 174, 208, 0.25);
        box-shadow: 20px 15px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            border-right 0.1s cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            backdrop-filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0.1s;
    }
    .acitve-icon{
        color: #4318FF;
        transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    }

}