<nav class="nav flex-column">
    <div class="title text-center">
        <p class="fw-bold fs-3">MOHAMED <span class="fw-lighter">SAMY</span></p>
        <i class="fa-brands fa-angular text-center fs-1 mb-3"></i>
    </div>
    <a routerLinkActive="active" class="nav-link fw-bolder " [routerLink]="['/home']"><i
            class="fa-solid fa-house me-2 text-center" routerLinkActive="acitve-icon"></i>Dashboard</a>
    <a routerLinkActive="active" class="nav-link fw-bold " [routerLink]="['/market']"><i
            class="fa-solid fa-cart-shopping me-2 text-center" routerLinkActive="acitve-icon"></i> NFT Marketplace</a>
    <a routerLinkActive="active" class="nav-link fw-bold " [routerLink]="['/tables']"><i
            class="fa-solid fa-chart-simple fa-flip-horizontal me-2 text-center"routerLinkActive="acitve-icon"></i>Tables</a>
    <a routerLinkActive="active" class="nav-link fw-bold " [routerLink]="['/kanban']"><i
            class="fa-solid fa-list-check me-2 text-center" routerLinkActive="acitve-icon"></i>BackLog</a>
    <a routerLinkActive="active" class="nav-link fw-bold " [routerLink]="['/profile']"> <i
            class="fa-solid fa-user me-2 text-center" routerLinkActive="acitve-icon"></i>Profile</a>
    <a routerLinkActive="active" class="nav-link fw-bold" [routerLink]="['/login']"><i
            class="fa-solid fa-lock me-2 text-center" routerLinkActive="acitve-icon"></i>Sign In</a>
</nav>